.main-container-grid {
display: grid;
      grid-template-columns: 1fr 6fr 1fr;
      height: 100%;
}

.table-one {
    width: 100%;
    border: 1px solid #eb0909
}

.table-one > tbody > tr> td{
    border: 1px solid #eb0909;
    min-height: 50px; 
    padding: .5em;

}

.add-button{
    font-size: bold;
}